html
{
height: 100%;
margin: 0px;
padding: 0px;


}

#container{
	display: flex;
	flex-direction: column;
	height: 100%;
	margin: 0px;
	padding: 0px;	
}

body {
	font-family: arial,sans-serif;
	flex-direction: column;
	font-size: 13px;
	height: 100%;
	margin: 0px;
	padding: 0px;
}

#app{
	opacity: 0.5;
}

#app:hover{
	opacity: 1;
}

input {
	width: 45%;
	display: block;
	height: 45px;
	margin-top: 40px;
   	border:solid 1px #ccc;
    border-radius: 20px;
    padding-left: 20px; 
}

input:hover{
	box-shadow:  0px 0px 3px 1px #afdcff;
}

input:focus {
	outline: 0;
}

.logo {
	position: relative;
	margin-top: 10%; 
}

#content{ 
	display: flex;
	align-items: center;
	flex-direction: column;
	margin-bottom: 0px;
	height: 89%;
	position: relative;
}
 

a {
	text-decoration: none;
	color: #001326;
	margin: 10px 3px 5px 3px;
	padding:  5px 3px 5px 3px; 
	font-size: 13px;
	cursor: pointer;
}

.sign {
	margin: 2px 15px 2px 15px;
	padding:  3px 8px 3px 8px;
	width: 65px;
	height: 30px;
	border: 1px solid #3873db;
	border-radius: 2px 2px 2px 2px; 
	background-color: #3873db;
	font-size: 12px;
}

.sign a {
	color: white;
	font-size: 16px;
	font-weight: bold;
	padding: 0px 0px 0px 0px;
}

.sign a:hover {
	text-decoration:none;
	
}

.sign:hover {
	box-shadow: 0px 0px 1px 1px #6964ee;
}

#header
 {
 	display: flex;
 	width: 100%;
 	align-items:center;
 	justify-content: flex-end;
 	margin-top: 5px;
 	height: 10%;
 }
 

 #header button a {
  	font-size: 12px;
  }

 #footer {
 	background-color: #f1f1f2;
 	width: 100%;
 	height: 11%;
 	border: 1px solid #e0e0eb;
	margin-bottom: 0px ;
	padding-bottom: 0px;
	position: sticky; 
 	align-items: stretch;
 	color: #5f5d6b;
 }


.two{
	margin-top: 25px ;
	align-self: center;
	margin-bottom: 15px;
}

button {
	font-family:  arial,sans-serif;
	font-size: 14px;
	padding: 1px 7px 1px 7px;
	height: 33px;
	width: 148px;
	margin-left: 10px;
	color: #8f8ca5;
	background-color: #f1f1f2;
	border: 1px solid #cacaca;
	cursor: pointer;
	border-radius: 4px;
}


.right {
	font-family: arial,sans-serif;
	font-size: small;
	border: 1px solid block;
	position: absolute;
	width: 49%;
	display: block;
	margin: 7px 17px 0px 49%;
	text-align: right;	
}

.left {
	font-family: arial,sans-serif;
	font-size: small;
	border: 1px solid block;
	position: absolute;
	width: 49%;
	display: block;
	margin:7px 0px 0px 17px;	
}

a:hover {
	text-decoration: underline;
	opacity: 1;
}

.butt{
	width: 150px;
}

.butt:hover{
	color: black;
	box-shadow: 1px 1px 3px #8985a5;
}

p a {
	color: blue;
}

#footer p { 
	margin-left: 25px; 
	padding: 0px ;  
}

#footer a {
	color: #5f5d6b;
}

.france{
	padding: 0px 0px 8px 0px;
	margin: 0px 0px 3px 0px;
	width: 100%;
	height: 10px;
	align-items: left; 
}

.btm{
	width: 100%;
 	border-top: 1px solid #aaa4a4;
 	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
	justify-content: space-between;
}